
.container {
  position: relative;
  width: 100%;
}

.container img {
  margin-top: -20rem;
  padding: 0;
  width: 60%;
  height: 60%;
}

.header {
  font-size: 5rem;
  color: #188029;
  margin-bottom: 4rem;
}

.container .formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  font-family: 'Handlee', cursive;
}

input {
  width: 20rem;
  height: 2rem;
  margin-bottom: 2rem;
}

button {
  width: 6rem;
  height: 2rem;
}