
.container {
  position: relative;
  width: 100%;
}

.container img {
  margin-top: -20rem;
  padding: 0;
  width: 60%;
  height: 60%;
}

.header {
  font-size: 5rem;
  color: #188029;
  margin-bottom: 4rem;
}

.container .formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  font-family: 'Handlee', cursive;
}

input {
  width: 40rem;
  height: 4rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  text-indent: 2rem;

}

button {
  width: 12rem;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  height: 4rem;
}